USE [master]
GO
/****** Object:  Database [WebBanLinhKienMayTinh]    Script Date: 11/25/2025 10:55:50 AM ******/
CREATE DATABASE [WebBanLinhKienMayTinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebBanLinhKienMayTinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebBanLinhKienMayTinh.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebBanLinhKienMayTinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebBanLinhKienMayTinh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebBanLinhKienMayTinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebBanLinhKienMayTinh]
GO
/****** Object:  Table [dbo].[Advertises]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertises](
	[AdvertiseID] [int] IDENTITY(1,1) NOT NULL,
	[AdvertiseName] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[Link] [nvarchar](255) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Position] [varchar](10) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Advertises] PRIMARY KEY CLUSTERED 
(
	[AdvertiseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttributeGroups]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttributeGroups](
	[AttrGroupID] [int] IDENTITY(1,1) NOT NULL,
	[AttrGroupName] [nvarchar](50) NULL,
 CONSTRAINT [PK_AttributeGroups] PRIMARY KEY CLUSTERED 
(
	[AttrGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attributes](
	[AttrID] [int] IDENTITY(1,1) NOT NULL,
	[AttrName] [nvarchar](50) NULL,
	[AttriGroupID] [int] NULL,
 CONSTRAINT [PK_Attributes] PRIMARY KEY CLUSTERED 
(
	[AttrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetails]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetails](
	[CartID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ColorID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CartDetails] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC,
	[ProductID] ASC,
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[CookieID] [char](10) NOT NULL,
	[CustomerID] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessage]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessage](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Message] [nvarchar](4000) NULL,
	[IsFromAdmin] [bit] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ChatMessage] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[ColorID] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [nvarchar](20) NOT NULL,
	[HexCode] [char](6) NOT NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[CommentContent] [nvarchar](1000) NULL,
	[CommentTime] [datetime] NULL,
	[CustomerID] [int] NULL,
	[Rate] [tinyint] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configurations]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configurations](
	[ConfigName] [nvarchar](30) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Configurations] PRIMARY KEY CLUSTERED 
(
	[ConfigName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [varchar](80) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[CustomerID] [int] NULL,
	[IP] [varchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Seen] [bit] NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](10) NULL,
	[Discount] [int] NULL,
	[Type] [varchar](10) NULL,
	[FreeShip] [bit] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Indefinite] [bit] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FacebookID] [varchar](100) NULL,
	[GoogleID] [varchar](100) NULL,
	[Passwrord] [varchar](100) NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [varchar](80) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[ProvinceID] [int] NULL,
	[DistrictID] [int] NULL,
	[WardID] [int] NULL,
	[Phone] [varchar](11) NULL,
	[Status] [bit] NOT NULL,
	[VerificationCode] [varchar](64) NULL,
	[RegistrationDate] [datetime] NOT NULL,
	[RankID] [int] NULL,
	[TotalSpent] [bigint] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictID] [int] NOT NULL,
	[DistrictName] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[ProvinceID] [int] NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcludeCoupons]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcludeCoupons](
	[CouponID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_ExcludeCoupons] PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC,
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupProducts]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupProducts](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[ParentGroupID] [int] NULL,
	[Icon] [varchar](100) NULL,
	[Priority] [int] NOT NULL,
 CONSTRAINT [PK_GroupProducts] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageProducts]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageProducts](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Caption] [nvarchar](100) NULL,
	[ImagePath] [varchar](255) NOT NULL,
 CONSTRAINT [PK_ImageProducts] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberRanks]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberRanks](
	[RankID] [int] IDENTITY(1,1) NOT NULL,
	[RankName] [nvarchar](50) NOT NULL,
	[RankNameEn] [varchar](50) NOT NULL,
	[MinSpending] [bigint] NOT NULL,
	[MaxSpending] [bigint] NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
	[IconUrl] [nvarchar](200) NULL,
	[ColorCode] [varchar](7) NULL,
	[Description] [nvarchar](200) NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](50) NULL,
	[Link] [nvarchar](255) NULL,
	[ParentMenuID] [int] NULL,
	[Priority] [tinyint] NULL,
	[Label] [nvarchar](20) NULL,
	[Hot] [bit] NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OptionGroups]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionGroups](
	[OptionGroupID] [int] IDENTITY(1,1) NOT NULL,
	[OptionGroupName] [nvarchar](50) NULL,
 CONSTRAINT [PK_OptionGroup] PRIMARY KEY CLUSTERED 
(
	[OptionGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[OptionName] [nvarchar](50) NULL,
	[OptionGroupID] [int] NULL,
 CONSTRAINT [PK_Options] PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Price] [bigint] NOT NULL,
	[Quantity] [tinyint] NOT NULL,
	[ColorID] [int] NULL,
	[Total] [bigint] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[ProvinceID] [int] NOT NULL,
	[DistrictID] [int] NOT NULL,
	[WardID] [int] NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[TotalPrice] [bigint] NOT NULL,
	[Discount] [bigint] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Paid] [bit] NOT NULL,
	[CouponCode] [varchar](10) NULL,
	[OrderStatusID] [int] NOT NULL,
	[ShippingStatusID] [int] NOT NULL,
	[Comment] [nvarchar](400) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[OrderStatusID] [int] NOT NULL,
	[OrderStatusName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[OrderStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentType] [varchar](10) NOT NULL,
	[PaymentName] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributes]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributes](
	[ProductID] [int] NOT NULL,
	[AttrID] [int] NOT NULL,
	[Value] [nvarchar](50) NULL,
	[Priority] [tinyint] NOT NULL,
 CONSTRAINT [PK_ProductAttributes] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[AttrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductColors]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColors](
	[ProductID] [int] NOT NULL,
	[ColorID] [int] NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_ProductColors] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](120) NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[Price] [bigint] NOT NULL,
	[SalePrice] [bigint] NOT NULL,
	[Stock] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[UseMultiColor] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
	[IsNew] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ProvinceID] [int] NOT NULL,
	[ProvinceName] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingStatus]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingStatus](
	[ShippingStatusID] [int] IDENTITY(1,1) NOT NULL,
	[ShippingName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ShippingStatus] PRIMARY KEY CLUSTERED 
(
	[ShippingStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
 CONSTRAINT [PK_sysdiagrams] PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](24) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [varchar](80) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[RegistrationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersInRoles]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInRoles](
	[Roles_RoleID] [int] NOT NULL,
	[Users_UserID] [int] NOT NULL,
 CONSTRAINT [PK_UsersInRoles] PRIMARY KEY CLUSTERED 
(
	[Roles_RoleID] ASC,
	[Users_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wards]    Script Date: 11/25/2025 10:55:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wards](
	[WardId] [int] NOT NULL,
	[WardName] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[DistrictId] [int] NOT NULL,
 CONSTRAINT [PK_Wards] PRIMARY KEY CLUSTERED 
(
	[WardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Advertises] ON 

INSERT [dbo].[Advertises] ([AdvertiseID], [AdvertiseName], [Description], [ImageUrl], [Link], [Width], [Height], [Position], [Active]) VALUES (1, N'FLASH SALE 30%', N'Giảm đến 30% cho tất cả linh kiện máy tính hôm nay', N'/Content/images/banners/pc-parts-sale.svg', N'/Product?sale=true', 1200, 400, N'Hero', 1)
INSERT [dbo].[Advertises] ([AdvertiseID], [AdvertiseName], [Description], [ImageUrl], [Link], [Width], [Height], [Position], [Active]) VALUES (2, N'CPU Intel Core i5', N'CPU hiệu năng cao - Xử lý mượt mà mọi tác vụ', N'/Content/images/banners/cpu-intel.svg', N'/Product/Detail/2', 800, 400, N'Featured', 1)
INSERT [dbo].[Advertises] ([AdvertiseID], [AdvertiseName], [Description], [ImageUrl], [Link], [Width], [Height], [Position], [Active]) VALUES (3, N'Combo Lắp Ráp', N'Combo lắp ráp PC gaming chỉ từ 5.000.000đ - Tiết kiệm và chất lượng', N'/Content/images/banners/combo-pc.svg', N'/Product?groupid=5', 800, 400, N'Featured', 1)
SET IDENTITY_INSERT [dbo].[Advertises] OFF
GO
SET IDENTITY_INSERT [dbo].[AttributeGroups] ON 

INSERT [dbo].[AttributeGroups] ([AttrGroupID], [AttrGroupName]) VALUES (1, N'Thông tin linh kiện')
INSERT [dbo].[AttributeGroups] ([AttrGroupID], [AttrGroupName]) VALUES (2, N'Thông số kỹ thuật')
INSERT [dbo].[AttributeGroups] ([AttrGroupID], [AttrGroupName]) VALUES (3, N'Tính năng')
SET IDENTITY_INSERT [dbo].[AttributeGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[Attributes] ON 

INSERT [dbo].[Attributes] ([AttrID], [AttrName], [AttriGroupID]) VALUES (1, N'Hãng sản xuất', 1)
INSERT [dbo].[Attributes] ([AttrID], [AttrName], [AttriGroupID]) VALUES (2, N'Dung lượng / Công suất', 1)
INSERT [dbo].[Attributes] ([AttrID], [AttrName], [AttriGroupID]) VALUES (3, N'Năm sản xuất', 1)
SET IDENTITY_INSERT [dbo].[Attributes] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessage] ON 

INSERT [dbo].[ChatMessage] ([MessageID], [CustomerID], [Message], [IsFromAdmin], [IsRead], [CreatedDate]) VALUES (62, 8, N'alo', 0, 1, CAST(N'2025-11-23T00:45:53.040' AS DateTime))
INSERT [dbo].[ChatMessage] ([MessageID], [CustomerID], [Message], [IsFromAdmin], [IsRead], [CreatedDate]) VALUES (63, 8, N'Xin chào', 1, 0, CAST(N'2025-11-23T00:45:59.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChatMessage] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([ColorID], [ColorName], [HexCode]) VALUES (1, N'Đỏ', N'FF0D0D')
INSERT [dbo].[Colors] ([ColorID], [ColorName], [HexCode]) VALUES (2, N'Đen', N'000000')
INSERT [dbo].[Colors] ([ColorID], [ColorName], [HexCode]) VALUES (3, N'Vàng', N'FFFB0A')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [ProductID], [CommentContent], [CommentTime], [CustomerID], [Rate]) VALUES (1, 31, N'okokokokokokokokok', CAST(N'2025-11-20T09:28:43.333' AS DateTime), NULL, 3)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
INSERT [dbo].[Configurations] ([ConfigName], [Value], [Description]) VALUES (N'product_per_page', N'5', N'Số sản phẩm trên 1 trang')
INSERT [dbo].[Configurations] ([ConfigName], [Value], [Description]) VALUES (N'site_title', N'Tech Shop', N'Tiêu đề trang web')
INSERT [dbo].[Configurations] ([ConfigName], [Value], [Description]) VALUES (N'support_email', N'iezreal.com@gmai.com', N'Email hỗ trợ')
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([CouponID], [Code], [Discount], [Type], [FreeShip], [StartDate], [EndDate], [Indefinite], [Active]) VALUES (1, N'WELCOME10', 10, N'Percent', 0, CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 0, 1)
INSERT [dbo].[Coupons] ([CouponID], [Code], [Discount], [Type], [FreeShip], [StartDate], [EndDate], [Indefinite], [Active]) VALUES (2, N'NEWUSER50K', 50000, N'Amount', 0, CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 0, 1)
INSERT [dbo].[Coupons] ([CouponID], [Code], [Discount], [Type], [FreeShip], [StartDate], [EndDate], [Indefinite], [Active]) VALUES (3, N'FREESHIP', 30000, N'Amount', 1, CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FacebookID], [GoogleID], [Passwrord], [FullName], [Email], [Address], [ProvinceID], [DistrictID], [WardID], [Phone], [Status], [VerificationCode], [RegistrationDate], [RankID], [TotalSpent]) VALUES (4, NULL, NULL, N'026d9dfa19927fae79a57e7af37bb122', N'Lê Trung Hiển', N'hienlt0610@gmail.com', NULL, NULL, NULL, NULL, NULL, 1, NULL, CAST(N'2016-09-27T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[Customers] ([CustomerID], [FacebookID], [GoogleID], [Passwrord], [FullName], [Email], [Address], [ProvinceID], [DistrictID], [WardID], [Phone], [Status], [VerificationCode], [RegistrationDate], [RankID], [TotalSpent]) VALUES (6, NULL, NULL, N'e10adc3949ba59abbe56e057f20f883e', N'Hoàng Quốc Test', N'test1@gmail.com', NULL, NULL, NULL, NULL, NULL, 0, NULL, CAST(N'2025-10-23T14:35:41.670' AS DateTime), 1, 0)
INSERT [dbo].[Customers] ([CustomerID], [FacebookID], [GoogleID], [Passwrord], [FullName], [Email], [Address], [ProvinceID], [DistrictID], [WardID], [Phone], [Status], [VerificationCode], [RegistrationDate], [RankID], [TotalSpent]) VALUES (7, NULL, N'105283718972763818136', NULL, N'Việt Hoàng', N'iezreal.com@gmail.com', N'Hà Nội', 1, 101, 1001, N'0886528046', 1, N'f05dcf8a17486a1994f1d7f82adb5f9f', CAST(N'2025-10-23T14:49:19.890' AS DateTime), 2, 15870000)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
INSERT [dbo].[Districts] ([DistrictID], [DistrictName], [Type], [ProvinceID]) VALUES (101, N'Ba Đình', N'Quận', 1)
INSERT [dbo].[Districts] ([DistrictID], [DistrictName], [Type], [ProvinceID]) VALUES (102, N'Hoàn Kiếm', N'Quận', 1)
INSERT [dbo].[Districts] ([DistrictID], [DistrictName], [Type], [ProvinceID]) VALUES (103, N'Tây Hồ', N'Quận', 1)
GO
SET IDENTITY_INSERT [dbo].[GroupProducts] ON 

INSERT [dbo].[GroupProducts] ([GroupID], [GroupName], [ParentGroupID], [Icon], [Priority]) VALUES (1, N'Linh Kiện Máy Tính', NULL, N'desktop', 1)
INSERT [dbo].[GroupProducts] ([GroupID], [GroupName], [ParentGroupID], [Icon], [Priority]) VALUES (2, N'Phụ Kiện Máy Tính', NULL, N'usb', 2)
INSERT [dbo].[GroupProducts] ([GroupID], [GroupName], [ParentGroupID], [Icon], [Priority]) VALUES (3, N'Thiết Bị Ngoại Vi', NULL, N'keyboard', 3)
SET IDENTITY_INSERT [dbo].[GroupProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageProducts] ON 

INSERT [dbo].[ImageProducts] ([ImageID], [ProductID], [Caption], [ImagePath]) VALUES (45, 45, N'Combo Workstation', N'/Content/images/250_52193_i513.jpg')
INSERT [dbo].[ImageProducts] ([ImageID], [ProductID], [Caption], [ImagePath]) VALUES (51, 31, N'250_11500_1111111_large_1548742088728t.jpg', N'/Uploads/2025/11/19/RHUZI2An3gg_250_11500_1111111_large_1548742088728t.jpg')
INSERT [dbo].[ImageProducts] ([ImageID], [ProductID], [Caption], [ImagePath]) VALUES (52, 32, N'250_32925_cpu_intel_core_i5_10400_anphat89.jpg', N'/Uploads/2025/11/19/gMaCLWAn3gg_250_32925_cpu_intel_core_i5_10400_anphat89.jpg')
SET IDENTITY_INSERT [dbo].[ImageProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberRanks] ON 

INSERT [dbo].[MemberRanks] ([RankID], [RankName], [RankNameEn], [MinSpending], [MaxSpending], [DiscountPercent], [IconUrl], [ColorCode], [Description], [Active]) VALUES (1, N'Thành viên', N'Member', 0, 5000000, CAST(0.00 AS Decimal(5, 2)), NULL, N'#95A5A6', N'Thành viên mới', 1)
INSERT [dbo].[MemberRanks] ([RankID], [RankName], [RankNameEn], [MinSpending], [MaxSpending], [DiscountPercent], [IconUrl], [ColorCode], [Description], [Active]) VALUES (2, N'Đồng', N'Bronze', 5000001, 20000000, CAST(2.00 AS Decimal(5, 2)), NULL, N'#CD7F32', N'Hạng Đồng - Giảm 2%', 1)
INSERT [dbo].[MemberRanks] ([RankID], [RankName], [RankNameEn], [MinSpending], [MaxSpending], [DiscountPercent], [IconUrl], [ColorCode], [Description], [Active]) VALUES (3, N'Bạc', N'Silver', 20000001, 50000000, CAST(5.00 AS Decimal(5, 2)), NULL, N'#C0C0C0', N'Hạng Bạc - Giảm 5%', 1)
SET IDENTITY_INSERT [dbo].[MemberRanks] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([MenuID], [MenuName], [Link], [ParentMenuID], [Priority], [Label], [Hot]) VALUES (1, N'Home', N'/Home', NULL, 0, N'', 1)
INSERT [dbo].[Menus] ([MenuID], [MenuName], [Link], [ParentMenuID], [Priority], [Label], [Hot]) VALUES (2, N'Khuyến mãi', N'/KhuyenMai', NULL, 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[OptionGroups] ON 

INSERT [dbo].[OptionGroups] ([OptionGroupID], [OptionGroupName]) VALUES (1, N'Điện tử')
SET IDENTITY_INSERT [dbo].[OptionGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[Options] ON 

INSERT [dbo].[Options] ([OptionID], [OptionName], [OptionGroupID]) VALUES (1, N'Bộ nhớ trong', 1)
INSERT [dbo].[Options] ([OptionID], [OptionName], [OptionGroupID]) VALUES (2, N'Ram', 1)
SET IDENTITY_INSERT [dbo].[Options] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([DetailID], [OrderID], [ProductID], [Price], [Quantity], [ColorID], [Total]) VALUES (1, 1, 45, 75000000, 4, NULL, 300000000)
INSERT [dbo].[OrderDetails] ([DetailID], [OrderID], [ProductID], [Price], [Quantity], [ColorID], [Total]) VALUES (2, 2, 32, 1800000, 1, NULL, 1800000)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [PaymentID], [OrderDate], [FullName], [Address], [ProvinceID], [DistrictID], [WardID], [Phone], [TotalPrice], [Discount], [PaymentDate], [Paid], [CouponCode], [OrderStatusID], [ShippingStatusID], [Comment]) VALUES (1, 8, 1, CAST(N'2025-11-20T09:57:22.780' AS DateTime), N'Hoàng Quốc Test', N'Hà Nội', 1, 101, 1001, N'0886528046', 300000000, 0, NULL, 1, NULL, 3, 3, NULL)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [PaymentID], [OrderDate], [FullName], [Address], [ProvinceID], [DistrictID], [WardID], [Phone], [TotalPrice], [Discount], [PaymentDate], [Paid], [CouponCode], [OrderStatusID], [ShippingStatusID], [Comment]) VALUES (2, 8, 4, CAST(N'2025-11-21T08:20:21.507' AS DateTime), N'Hoàng Quốc Test', N'Hà Nội', 1, 101, 1001, N'0886528046', 1620000, 180000, NULL, 1, NULL, 4, 1, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName]) VALUES (1, N'Chờ xử lý')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName]) VALUES (2, N'Đang xử lý')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName]) VALUES (3, N'Hoàn thành')
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [PaymentType], [PaymentName], [Active]) VALUES (1, N'cod', N'Thanh toán khi nhận hàng (COD)', 1)
INSERT [dbo].[Payments] ([PaymentID], [PaymentType], [PaymentName], [Active]) VALUES (2, N'atm', N'Thanh toán bằng thẻ ATM', 0)
INSERT [dbo].[Payments] ([PaymentID], [PaymentType], [PaymentName], [Active]) VALUES (3, N'online', N'Thanh toán trực tuyến', 0)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Detail], [Price], [SalePrice], [Stock], [GroupID], [UseMultiColor], [CreateDate], [Active], [IsNew]) VALUES (2, N'Mainboard ASUS B660M', N'&lt;p&gt;Mainboard ASUS B660M-A D4, socket LGA1700, hỗ trợ DDR4, PCIe 4.0, M.2 NVMe&lt;/p&gt;', 3500000, 3200000, 40, 1, 0, CAST(N'2025-11-18T16:31:39.507' AS DateTime), 1, 0)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Detail], [Price], [SalePrice], [Stock], [GroupID], [UseMultiColor], [CreateDate], [Active], [IsNew]) VALUES (3, N'RAM DDR4 16GB Corsair', N'&lt;p&gt;RAM DDR4 16GB (2x8GB) Corsair Vengeance RGB Pro 3200MHz, CL16, RGB LED&lt;/p&gt;', 2200000, 2000000, 60, 1, 0, CAST(N'2025-11-18T16:31:39.507' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[Provinces] ([ProvinceID], [ProvinceName], [Type]) VALUES (1, N'Hà Nội', N'TP')
INSERT [dbo].[Provinces] ([ProvinceID], [ProvinceName], [Type]) VALUES (2, N'Hồ Chí Minh', N'TP')
INSERT [dbo].[Provinces] ([ProvinceID], [ProvinceName], [Type]) VALUES (3, N'Đà Nẵng', N'TP')
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ShippingStatus] ON 

INSERT [dbo].[ShippingStatus] ([ShippingStatusID], [ShippingName]) VALUES (1, N'Chưa giao')
INSERT [dbo].[ShippingStatus] ([ShippingStatusID], [ShippingName]) VALUES (2, N'Đang giao')
INSERT [dbo].[ShippingStatus] ([ShippingStatusID], [ShippingName]) VALUES (3, N'Đã giao')
SET IDENTITY_INSERT [dbo].[ShippingStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [IP], [Status], [RegistrationDate]) VALUES (1, N'admin', N'1702a132e769a623c1adb78353fc9503', N'Administrator', N'admin@webbanhang.com', N'127.0.0.1', 1, CAST(N'2025-10-23T14:55:22.663' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[UsersInRoles] ([Roles_RoleID], [Users_UserID]) VALUES (1, 1)
GO
INSERT [dbo].[Wards] ([WardId], [WardName], [Type], [DistrictId]) VALUES (1001, N'Phường Phúc Xá', N'Phường', 101)
INSERT [dbo].[Wards] ([WardId], [WardName], [Type], [DistrictId]) VALUES (1002, N'Phường Trúc Bạch', N'Phường', 101)
INSERT [dbo].[Wards] ([WardId], [WardName], [Type], [DistrictId]) VALUES (1003, N'Phường Vĩnh Phúc', N'Phường', 101)
GO
/****** Object:  Index [IX_FK_Options_OptionGroups]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Options_OptionGroups] ON [dbo].[Attributes]
(
	[AttriGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_CartDetails_Color]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_CartDetails_Color] ON [dbo].[CartDetails]
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_CartDetails_Products]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_CartDetails_Products] ON [dbo].[CartDetails]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Cart_Customers]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Cart_Customers] ON [dbo].[Carts]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessage_CreatedDate]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessage_CreatedDate] ON [dbo].[ChatMessage]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessage_CustomerID]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessage_CustomerID] ON [dbo].[ChatMessage]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_ProductID_Rate]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_ProductID_Rate] ON [dbo].[Comments]
(
	[ProductID] ASC,
	[Rate] ASC
)
INCLUDE([CommentContent],[CommentTime],[CustomerID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Comment_Customers]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Comment_Customers] ON [dbo].[Comments]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Comment_Products]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Comment_Products] ON [dbo].[Comments]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Contact_Customers]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Contact_Customers] ON [dbo].[Contacts]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_Email]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_Email] ON [dbo].[Customers]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_GoogleID]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_GoogleID] ON [dbo].[Customers]
(
	[GoogleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Customers_RankID]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_RankID] ON [dbo].[Customers]
(
	[RankID] ASC
)
INCLUDE([TotalSpent]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Customers_Districts]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Customers_Districts] ON [dbo].[Customers]
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Customers_Provinces]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Customers_Provinces] ON [dbo].[Customers]
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Customers_Ward]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Customers_Ward] ON [dbo].[Customers]
(
	[WardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Districts_Provinces]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Districts_Provinces] ON [dbo].[Districts]
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ExcludeCoupon_Coupon]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ExcludeCoupon_Coupon] ON [dbo].[ExcludeCoupons]
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ExcludeCoupon_GroupProducts]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ExcludeCoupon_GroupProducts] ON [dbo].[ExcludeCoupons]
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_GroupProducts_GroupProducts]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_GroupProducts_GroupProducts] ON [dbo].[GroupProducts]
(
	[ParentGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ImageProducts_Products]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ImageProducts_Products] ON [dbo].[ImageProducts]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImageProducts_ProductID]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_ImageProducts_ProductID] ON [dbo].[ImageProducts]
(
	[ProductID] ASC
)
INCLUDE([ImagePath]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Menus_Menus]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Menus_Menus] ON [dbo].[Menus]
(
	[ParentMenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_OrderDetails_Color]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_OrderDetails_Color] ON [dbo].[OrderDetails]
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_OrderDetails_Orders]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_OrderDetails_Orders] ON [dbo].[OrderDetails]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_OrderDetails_Products]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_OrderDetails_Products] ON [dbo].[OrderDetails]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderID]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderID] ON [dbo].[OrderDetails]
(
	[OrderID] ASC
)
INCLUDE([ProductID],[ColorID],[Quantity],[Price]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Orders_Customers]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Orders_Customers] ON [dbo].[Orders]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Orders_Districts]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Orders_Districts] ON [dbo].[Orders]
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Orders_OrderStatus]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Orders_OrderStatus] ON [dbo].[Orders]
(
	[OrderStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Orders_Payments]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Orders_Payments] ON [dbo].[Orders]
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Orders_Provinces]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Orders_Provinces] ON [dbo].[Orders]
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Orders_ShippingStatus]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Orders_ShippingStatus] ON [dbo].[Orders]
(
	[ShippingStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Orders_Ward]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Orders_Ward] ON [dbo].[Orders]
(
	[WardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerID]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerID] ON [dbo].[Orders]
(
	[CustomerID] ASC
)
INCLUDE([OrderDate],[TotalPrice],[OrderStatusID],[PaymentID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ProductOptions_Options]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ProductOptions_Options] ON [dbo].[ProductAttributes]
(
	[AttrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ProductOptions_Products]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ProductOptions_Products] ON [dbo].[ProductAttributes]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ProductColors_Color1]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ProductColors_Color1] ON [dbo].[ProductColors]
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ProductColors_Products1]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ProductColors_Products1] ON [dbo].[ProductColors]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductColors_ProductID_Stock]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductColors_ProductID_Stock] ON [dbo].[ProductColors]
(
	[ProductID] ASC,
	[Stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Products_GroupProducts]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Products_GroupProducts] ON [dbo].[Products]
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Active_Price]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Active_Price] ON [dbo].[Products]
(
	[Active] ASC,
	[Price] ASC
)
INCLUDE([ProductName],[SalePrice],[GroupID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_GroupID]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_GroupID] ON [dbo].[Products]
(
	[GroupID] ASC
)
INCLUDE([ProductName],[Price],[SalePrice],[Active]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_ProductName]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_ProductName] ON [dbo].[Products]
(
	[ProductName] ASC
)
INCLUDE([GroupID],[Price],[SalePrice],[Active]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_UsersInRoles_Role]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_UsersInRoles_Role] ON [dbo].[UsersInRoles]
(
	[Roles_RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_UsersInRoles_User]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_UsersInRoles_User] ON [dbo].[UsersInRoles]
(
	[Users_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Ward_Districts]    Script Date: 11/25/2025 10:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Ward_Districts] ON [dbo].[Wards]
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [RankID]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [TotalSpent]
GO
ALTER TABLE [dbo].[MemberRanks] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsNew]
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD  CONSTRAINT [FK_Options_OptionGroups] FOREIGN KEY([AttriGroupID])
REFERENCES [dbo].[AttributeGroups] ([AttrGroupID])
GO
ALTER TABLE [dbo].[Attributes] CHECK CONSTRAINT [FK_Options_OptionGroups]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_Cart] FOREIGN KEY([CartID])
REFERENCES [dbo].[Carts] ([CartID])
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_Cart]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_Color] FOREIGN KEY([ColorID])
REFERENCES [dbo].[Colors] ([ColorID])
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_Color]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_Products]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Cart_Customers]
GO
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessage_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[ChatMessage] CHECK CONSTRAINT [FK_ChatMessage_Customers]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comment_Customers]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comment_Products]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contact_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_Contact_Customers]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Districts] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[Districts] ([DistrictID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Districts]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_MemberRanks] FOREIGN KEY([RankID])
REFERENCES [dbo].[MemberRanks] ([RankID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_MemberRanks]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Provinces] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ProvinceID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Provinces]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Ward] FOREIGN KEY([WardID])
REFERENCES [dbo].[Wards] ([WardId])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Ward]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Provinces] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ProvinceID])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Provinces]
GO
ALTER TABLE [dbo].[ExcludeCoupons]  WITH CHECK ADD  CONSTRAINT [FK_ExcludeCoupon_Coupon] FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupons] ([CouponID])
GO
ALTER TABLE [dbo].[ExcludeCoupons] CHECK CONSTRAINT [FK_ExcludeCoupon_Coupon]
GO
ALTER TABLE [dbo].[ExcludeCoupons]  WITH CHECK ADD  CONSTRAINT [FK_ExcludeCoupon_GroupProducts] FOREIGN KEY([GroupID])
REFERENCES [dbo].[GroupProducts] ([GroupID])
GO
ALTER TABLE [dbo].[ExcludeCoupons] CHECK CONSTRAINT [FK_ExcludeCoupon_GroupProducts]
GO
ALTER TABLE [dbo].[GroupProducts]  WITH CHECK ADD  CONSTRAINT [FK_GroupProducts_GroupProducts] FOREIGN KEY([ParentGroupID])
REFERENCES [dbo].[GroupProducts] ([GroupID])
GO
ALTER TABLE [dbo].[GroupProducts] CHECK CONSTRAINT [FK_GroupProducts_GroupProducts]
GO
ALTER TABLE [dbo].[ImageProducts]  WITH CHECK ADD  CONSTRAINT [FK_ImageProducts_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImageProducts] CHECK CONSTRAINT [FK_ImageProducts_Products]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menus_Menus] FOREIGN KEY([ParentMenuID])
REFERENCES [dbo].[Menus] ([MenuID])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menus_Menus]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Color] FOREIGN KEY([ColorID])
REFERENCES [dbo].[Colors] ([ColorID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Color]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Districts] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[Districts] ([DistrictID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Districts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatus] FOREIGN KEY([OrderStatusID])
REFERENCES [dbo].[OrderStatus] ([OrderStatusID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatus]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Payments] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Payments]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Provinces] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ProvinceID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Provinces]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_ShippingStatus] FOREIGN KEY([ShippingStatusID])
REFERENCES [dbo].[ShippingStatus] ([ShippingStatusID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_ShippingStatus]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Ward] FOREIGN KEY([WardID])
REFERENCES [dbo].[Wards] ([WardId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Ward]
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ProductOptions_Options] FOREIGN KEY([AttrID])
REFERENCES [dbo].[Attributes] ([AttrID])
GO
ALTER TABLE [dbo].[ProductAttributes] CHECK CONSTRAINT [FK_ProductOptions_Options]
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ProductOptions_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributes] CHECK CONSTRAINT [FK_ProductOptions_Products]
GO
ALTER TABLE [dbo].[ProductColors]  WITH CHECK ADD  CONSTRAINT [FK_ProductColors_Color1] FOREIGN KEY([ColorID])
REFERENCES [dbo].[Colors] ([ColorID])
GO
ALTER TABLE [dbo].[ProductColors] CHECK CONSTRAINT [FK_ProductColors_Color1]
GO
ALTER TABLE [dbo].[ProductColors]  WITH CHECK ADD  CONSTRAINT [FK_ProductColors_Products1] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductColors] CHECK CONSTRAINT [FK_ProductColors_Products1]
GO
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersInRoles_Role] FOREIGN KEY([Roles_RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [FK_UsersInRoles_Role]
GO
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersInRoles_User] FOREIGN KEY([Users_UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [FK_UsersInRoles_User]
GO
ALTER TABLE [dbo].[Wards]  WITH CHECK ADD  CONSTRAINT [FK_Ward_Districts] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictID])
GO
ALTER TABLE [dbo].[Wards] CHECK CONSTRAINT [FK_Ward_Districts]
GO
USE [master]
GO
